@import url(./theme.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

html {
  overflow: hidden;
}

body {
  line-height: 1.6em;
  font-family: var(--primaryFont);
  overflow: hidden;
}

img{
    max-width: 100%;
}
svg {
    cursor: pointer;
}

.Container--row {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.Container--col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Adjust the value to change the shape */
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track (background) color of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (thumb) color of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* On hover, the handle (thumb) color of the scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* Colors */