
.Home {
    background: var(--secondaryColor);
    color: var(--fontColor);
}
.loader {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    animation-name: loader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.loader div {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.loader div:nth-child(1) { 
    animation: b1 1s ease-in-out 1;
}

.loader div:nth-child(2) { 
    animation: b2 1s ease-in-out 1;
    animation-delay: .1s;
}
.loader div:nth-child(3) { 
    animation: b3 1s ease-in-out 1;
    animation-delay: .2s;
}
.loader div:nth-child(4) { 
    animation: b4 1s ease-in-out 1;
    animation-delay: .3s;
}
@keyframes loader {
    0%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        pointer-events: none}
}
@keyframes b1{
    0% {opacity:0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes b2{
    0% {opacity:0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes b3{
    0% {opacity: 0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes b4{
    0% {opacity: .0; margin-top: -40px}
    100% {opacity: 1;}
} 


/* NavBar */
.NavBar {
position: fixed;
top: 0;
right:0;
padding: 1em 2em 0em 1em ;
height: 100vh;
width: 250px;
box-shadow: 3px 1px 22px 0px rgba(0,0,0,0.58);
transition: .3s;
background-color: var(--colorA);
z-index: 1;
}
.Navbar__OpenNav,
.Navbar__CloseNav {
font-size: 25px;
opacity: .4; 
}
.Navbar__OpenNav {
position: fixed;
right: 2em;
top:1em;
}
.Navbar__CloseNav {
position: absolute;
right:1em;
}
.Navbar__OpenNav:hover,
.Navbar__CloseNav:hover {
opacity: 1;

}
.Navbar__Item {
display: flex;
justify-content: start;
align-items: center;
gap:20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.355);
padding: 1em 0em;
font-size: 20px;
cursor: pointer;
}
.Navbar__Item:hover {
opacity: .6;
}
@media(max-width:600px){
    .Navbar__OpenNav {
        right: .5em;
        top:1em
    }
}


/* Header */

.Header {
justify-content: space-between;
border-bottom: 1px solid var(--secondaryColor);
height: 15vh;
background-color: var(--primaryColor);
/* border: 5px solid blue; */
/* overflow: hidden; */
}
@media(max-width: 700px){
    .Header {
        height: 10vh;
    }
    .Header .Agenda__Quote,
    .Header .Agenda__Quote__Author{
        display: none;
    }
    .Agenda__Tasks {
        width: 90%;
    }
}

/* Agenda */
.Agenda {
width: 75%;
padding: .3em 0em .3em .5em;
background-color: var(--primaryColor);
align-self: stretch;
}
.Agenda__Quote {
width: max-content;
position: relative;}
.Agenda__Quote__Author {
position: relative;
left:80%;
width: 200px;
display:block;
font-size: initial;
}
/* Time */
.Time {
padding: 1em;
font-size: 20px;
align-items: start;
border-left: 1px solid var(--secondaryColor);
background-color: var(--primaryColor);
width: 25%;
align-self: stretch;
}
.NavBar .Time{
    display: none;
    padding: 1em;
    font-size: initial;
    border-left: none;
    width: 100%;
}
@media(max-width:1100px){
    .Agenda {
        width: 100%;
    }
    .Agenda__Quote {
        font-size: 18px;
    }
    .Header .Time {
        display: none;
    }
    .NavBar .Time{
        display: flex;
        padding: 1em;
        font-size: initial;
        border-left: none;
        width: 100%;
    }
}
/* @media(max-width: 700px){
    .Navbar__OpenNav {

    }
    .Agenda {
        width: 90%;
    }
    .Agenda__Quote {
        width: 100%;
        font-size: 18px;
    }
        .Agenda__Quote__Author {
        left:62%;
        font-size: initial;
        }
}
@media(max-width: 500px){
    .Header{
        height: auto;
    }
    .Agenda__Quote {
        margin-bottom: 1em;
    }
    .Agenda__Quote__Author {
        left:0%;
        font-size: 12px;
        }
    .Main{
        height: 50vh;
    }
    .Sprints{
        height: 30vh;
    }
} */


/* Used in both tasks and sprints */
.EmptyCategory__AddContainer {
position: absolute;
gap:50px;
text-align: center;
font-size: 18px;
left: 0;
right: 0;
}
.EmptyCategory__AddContainer--Sprint {
align-self: center !important;
}
.EmptyCategory__AddOption {
opacity: .5;
cursor: pointer;
}
.EmptyCategory__AddOption:hover {
opacity: 1;
}


/* Tasks */
.Main {
width: 100vw;
justify-content: flex-end;
/* border: 5px solid red; */
transition: .5s;
/* height: 85vh;  */
}
.Main__Tasks {
/* height: 55vh; */
width: 100%;
padding: 1em;
padding-left: 2.5em;
position: relative;
justify-content: start;
align-items: flex-start;

flex-wrap: wrap;
gap:1em 1em;
background: var(--colorA);
box-shadow: inset -4px 1px 12px 8px rgba(0, 0, 0, 0.67);
overflow-y: scroll;
transition: 1s;
align-self: stretch;
}
.Task {
min-width: 300px;
max-width: 600px;
min-height: 90px;
justify-content: flex-start;
box-Shadow: 0px 0px 40px 0px var(--primaryColor);
position: relative;
}
.Task_Msg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
}
.Task_Msg:hover .Task_Msg_Note  {
    display: none;
}
.Task_Msg:hover .Task_Msg_Remove {
    display: block;
}
.Task_Msg_Note{
    font-size: 20px;
}
.Task_Msg_Remove{
    cursor: pointer;
    padding: .3em 0em;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    display: none;
}
.Task_Msg_Remove.task {
    background-color: var(--colorC);
}
.Task_Msg_Remove.group {
    background-color: var(--colorB);
}
.TaskCategory {
padding: .5em;
width: 100%;
height: 40px;
}
.TaskCategory span {
font-style: italic;
text-decoration: underline;
}
.Task--group > .TaskCategory {
background: var(--colorB);
}
.Task--sprint > .TaskCategory {
background: var(--primaryColor);
}
.Task--reg > .TaskCategory {
background: var(--colorC);
}
.TaskDescription {
padding: .5em;
width: 100%;
border-left:2px solid black;
border-right:2px solid black;
}
.TaskInfo {
width:100%;
justify-content: space-between;
flex-direction: column-reverse;
border-left:2px solid black;
border-right:2px solid black;
border-bottom:2px solid black;
/* padding: .5em; */
}
.TaskControls {
align-self: flex-start;
gap:20px;
padding: .5em;
/* border-top: 2px solid black;
border-right: 2px solid  black; */
/* border-radius: 5px; */
opacity: .5;
}
.TaskTime {
width: 100%;
font-size: 13px;
text-align: end;
/* background: var(--colorB); */
font-weight: bold;
font-style: italic;
padding: .5em;
padding-left: 0;
}
.TaskControls:hover {
opacity:1;
}

/* Options */
.Main__Options {
/* height: 55vh; */
width: 600px;
border-left: 1px solid rgba(0, 0, 0, 0.212);
padding: 1em;
gap: 2em;
background-color: var(--colorA);
transition: 1s;
position: relative;
margin-right: -615px;
align-self: stretch;
/*  */
justify-content: flex-start;

}
.Main__Options__Option {
align-items: flex-start;
gap:.5em;
}
.Options__Option__Title {
text-decoration: underline;
cursor: pointer;
}
.Options__Option__Title:hover {
opacity: .6;
transform: scale(1.01);
}
.Options__Option__Description{
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.Main__Options__Close--toggle {
position: absolute;
top:1em;
right:1em;
font-size: 25px;
opacity: .6;
}
.Main__Options__Close--toggle:hover {
opacity: 1;
}
.Main--expand{
    height: 85vh !important;
}
.Main--shorten {
    height: 53vh !important;
}
@media(max-width: 1000px){
    .Main {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

    }
    .Main__Tasks {
        /* height: 80%; */
        height: 100%;
        box-shadow: none;
        }
        .Main__Options {
            display: none;
        }
    .Main__Options__Close--toggle {
        display: none !important;
    } 
}
@media(max-width:700px){
    .Main--expand{
        height: 90vh !important;
    }
    .Main--shorten {
        height: 0vh !important;
    }

}
@media(max-width:400px){
    .Main__Tasks {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1em;
    }
     .EmptyCategory__AddContainer {
        flex-direction: column;
        }
}

/* EmptyCategory__AddContainer */

/* Sprints */
.Sprints{
background-color: black;
justify-content: flex-start;
padding: 1em 3em;
align-items: flex-start;
/* height: 31vh; */
height: 33vh;
gap:5em;
position: relative;
/* border: 5px solid green; */
align-self: stretch;
transition: .5s;
/* overflow-y: scroll;
flex-direction: column;
align-items: center; */
/* margin-top: 50%; */
}
.Sprints__Sprint{
line-height: 1.3em;
max-height: 100%;
min-width: max-content;
width: 300px;
position: relative;
}
.Sprint_Msg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
}
.Sprint_Msg:hover .Sprint_Msg_Note  {
    display: none;
}
.Sprint_Msg:hover .Sprint_Msg_Remove {
    display: block;
}
.Sprint_Msg_Note{
    font-size: 20px;
}
.Sprint_Msg_Remove{
    cursor: pointer;
    padding: .3em 0em;
    width: 150px;
    text-align: center;
    display: none;
}
.Sprint_Msg_Remove.Sprint {
    background-color: var(--colorC);
}
.Sprint_Msg_Remove.group {
    background-color: var(--colorB);
}
.Sprint_Msg_Remove.sprint {
    background-color: var(--colorD);
}
.Sprints__Sprint__Title{
text-align: center;
font-size: 18px;
max-width: 350px;
margin-bottom: 1em;
}
.Sprints__Add {
opacity: .5;
cursor: pointer;
height: 20vh;
text-align: center;
}
.Sprints__Add:hover {
opacity: 1;
}

/* ICONS */
.Sprint_OpenToggle{
position: absolute;
bottom:3em;
left:.3em;
font-size: 25px;
opacity: .6;
}
.Sprint_CloseToggle {
position: absolute;
left: 1em;
font-size: 25px;
opacity: .6;
}
.Sprint_CloseToggle:hover {
opacity: 1;
}

/* Progress Circle */
.ProgressCircle {
position: relative;
width: max-content;
margin: auto;
gap:10px;
}
.ProgressCircle:hover .ProgressCircle__Value {

}
.ProgressCircle__Parent{
cursor: pointer;
opacity: .5;

}
.ProgressCircle__Parent:hover{
box-Shadow: 0px 0px 40px 0px var(--colorB)!important;
opacity: 1;

}
.SprintOptions {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
box-Shadow: 0px 0px 100px 0px var(--colorB)!important;
border: 1px solid var(--secondaryColor);
gap:10px;
padding: 10px;
}
.SprintOptions_Option {
width: 60%;
justify-content: space-between;
border: 2px solid var(--secondaryColor);
padding: 5px;
opacity: .5;
cursor: pointer;
}
.SprintOptions_Option:hover {
opacity: 1;
}
.SprintOptions_Close {
position: absolute;
right:5px;
top:5px;
}
@media(max-width:700px){
    .Sprints {
        height: 92vh !important;
    }
    /* .Sprint_OpenToggle{
        bottom:1em;
        } */
}
@media(max-width:760px){
    /* .Sprint_CloseToggle,
    .Sprint_OpenToggle {
        display: none !important;
    } */
    .Sprints{
        flex-wrap: wrap;
        overflow: scroll;
    } 
    /* .Sprints__Sprint {
        flex-direction: row;
        gap:1em;
    } */
 }


/* PopUp */
.PopUp {
position: fixed;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:2em;
text-align: center;
/* border: 3px solid var(--secondaryColor); */
border-radius: 10px;
background: var(--primaryColor);
width: max-content;
max-width:95vw;
height: max-content;
max-height: 90vh;
align-items: flex-start;
gap:2em;
padding: 3em 3em;
z-index: 1;
box-Shadow: 0px 0px 40px 0px #a2a8d3;
/* flex-wrap: wrap; */
overflow-y: scroll;
overflow-x: hidden;
/* transition: .3s; */
}
.CreateTask {
gap:1em;
}
.CreateGroup{}
.CreateSprint {}
.PopUp__TextArea {
background: transparent;
width: 450px;
height: 200px;
padding: .5em;
max-width: 100%;
}
.PopUp__Buttons{
gap:15px;
}
.PopUp__Button {
font-family: inherit;
text-align: center;
border: none;
outline: none;
color: var(--primaryColor);
background: var(--secondaryColor);
padding: .5em 0em;
width: 100px;
font-weight: 600;
font-size: 16px;
cursor: pointer;
}
.PopUp__DueDate {
gap:1em;
border: 2px solid var(--secondaryColor);
padding: .5em;
}
.PopUp__DateTitle {
font-size: 22px;
}
.PopUp__DateInput {
border: none;
outline: none;
border: 1px solid var(--secondaryColor);
color: var(--primaryColor);
padding: .2em;
}
/* POPUP DEL/COM TASKS/GROUP */
.PopUp--DeleteTask__Description,
.PopUp--CompletedTask__Description {
background: var(--colorC);
width: 400px;
max-width: 90%;
padding: .5em;
border-radius: 5px;
text-align: start;
}
/* POPUP GROUP */
.PopUp .AddTaskContainer--group{
gap: 1em;
align-items: flex-start;
}


/* POPUP TASKS/GROUP */
.AddTaskContainer--group__Add {
gap: 1em;
}
.TaskList--group__Title {
background-color: transparent;
outline: transparent;
padding: 10px 5px;
/* border: 1px solid var(--secondaryColor); */
width: 90%;
/* margin-top: 40px; */
font-size: 20px;
font-style: italic;
align-self: flex-start;
}
.TaskList--group {
/* align-self: stretch; */
align-self: flex-start;
gap:1em;
}
.TaskList--group__List {
height: 300px;
list-style-type:circle;
width: 400px;
max-width: 100%;
border: 2px solid var(--secondaryColor);
text-align: start;
padding: 2em;
position: relative;
/* margin-top: 40px; */
overflow-y: scroll;
}
.TaskList--group__List__Item {
position: relative;
justify-content: flex-start;
background-color: var(--colorC);
margin-bottom: 10px;
padding: 5px;
border-radius: 5px;
/* gap:10px; */
}
.TaskList--group__List__Item .PopUp__Button {
display: inline;
padding: 1px 4px;
font-size: 13px;
border-radius: 10px;
margin-left: 5px;
/* font-weight: initial; */
}
.TaskList--group__List__Message {
position: absolute;
left:0;
top:0;
/* top:40%; */
margin: auto;
font-size: 25px;
width: 100%;
height: 100%;
text-align: center;
opacity: .6;
z-index: 1;
background-color: black;
pointer-events: none;
}
.CreateTitle {
padding: 5em;
gap:2em
}
.CreateTitle__Input {
padding:.5em;
width: 300px;
font-size: 18px;
font-style: italic;
background-color: transparent;
}
@media(max-width:1400px){
    .CreateSprint,
    .EditSprint{
        flex-direction: column-reverse;
    }
    .CreateSprint .AddTaskContainer--group,
    .EditSprint .AddTaskContainer--group {
        flex-direction: column-reverse;

    }
    .AddTaskContainer--group.CreateSprint .PopUp__TextArea,
    .AddTaskContainer--group.EditSprint .PopUp__TextArea {
        width: 60vw;
    }
    .AddTaskContainer--group.CreateSprint .AddTaskContainer--group,
    .AddTaskContainer--group.EditSprint .AddTaskContainer--group {
        gap:2em;
    }
    .AddTaskContainer--group.CreateSprint .TaskList--group__List,
    .AddTaskContainer--group.EditSprint .TaskList--group__List {
        width: 60vw;
    }
}
@media(max-width:1000px){
    .PopUp {
        padding: 2em;
    }
    .CreateGroup.PopUp,
    .EditGroup.PopUp {
        width: 90vw;
        align-items: center;
        padding: 2em 0em;
    }
    .CreateGroup.PopUp .AddTaskContainer--group,
    .EditGroup.PopUp .AddTaskContainer--group{
        flex-direction: column;
    }
    .CreateGroup.PopUp .PopUp__TextArea,
    .EditGroup.PopUp .PopUp__TextArea {
        width: 500px;
        height: 100px;
    }
    .CreateGroup.PopUp .AddTaskContainer--group,
    .EditGroup.PopUp .AddTaskContainer--group {
        gap:2em;
    }
    .CreateGroup.PopUp .TaskList--group__List,
    .EditGroup.PopUp .TaskList--group__List {
        height: 150px;
        width: 500px;
    }
}
@media(max-width:600px){
    .CreateTask.PopUp,
    .EditTask.PopUp {
        padding: 1em;
        align-items: center;
    }
    .CreateGroup.PopUp .PopUp__TextArea,
    .EditGroup.PopUp .PopUp__TextArea{
        width: 80vw;
    }
    .CreateGroup.PopUp .TaskList--group__List,
    .EditGroup.PopUp .TaskList--group__List {
        width: 80vw;
    }
    .AddTaskContainer--group.CreateSprint .PopUp__TextArea,
    .AddTaskContainer--group.EditSprint .PopUp__TextArea {
        width: 80vw;
        height: 200px;
    }
    .AddTaskContainer--group.CreateSprint .TaskList--group__List,
    .AddTaskContainer--group.EditSprint .TaskList--group__List {
        width: 80vw;
        height: 200px;
    }
}
@media(max-width:350px){
    .PopUp__DateTitle {
        font-size: initial;
    }
}




/* UTIL */
.Background {
position: fixed;
top:0;
left:0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.831);
backdrop-filter: blur(1px);
z-index: 1;
/* opacity: 0; */
/* transition: .5s; */
/* pointer-events:none; */
}





