.SignUp {
    color: var(--secondaryColor);
    background: var(--colorA);
    height: 100vh;
}
.SignUp .Title{
    font-size: 50px;
}
.SignUp_Form  {
    position: fixed;
    border-radius: 10px;
    background: var(--primaryColor);
    z-index: 1;
    box-Shadow: 0px 0px 40px 0px #a2a8d3;
    gap:1em;
    width: 500px;
    max-width: 95vw;
    min-height: 400px;
    padding: 1em 0em;
    opacity: .99;

}
.SignUp_Form_Input {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    width: 300px;
    padding: 1em;
    border-radius: 18px;
    margin-bottom: 1em;
}
.SignUp .Btn.a{
    cursor: pointer;
    background-color: var(--primaryColor);
    padding: .6em 0em;
    font-size: 18px;
    width:280px;
    text-align: center;
    margin-bottom: .5em;
    margin-top: 5em;

}
.SignUp .Btn.b {
    cursor: pointer;
    background-color: var(--colorB);
    padding: .5em 0em;
    font-size: 18px;
    width:280px;
    text-align: center;
    margin-top: 4em;
}
.SignUp .Note {
    margin-top: 3em;
}
.SignUp .Note a {
 color: var(--colorB);
 cursor: pointer;
}
.SignUp_Form_Close {
    position: absolute;
    right: .5em;
    top:.5em;
    font-size: 18px;
}

