
.SignIn {
    color: var(--secondaryColor);
    background: var(--colorA);
    height: 100vh;
}
.SignIn .Title{
    font-size: 50px;
    text-align: center;
    line-height: 1em;
    animation-name: Title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translateX(-20vw);
    opacity: 0;
}
@keyframes Title {
    0%{
        transform: translateX(-20vw);
        opacity: 0;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}
.SignIn_Form {
    margin-top: 4em;
    animation-name: Form;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

}
@keyframes Form {
    0%{    opacity: 0;    }
    100% {    opacity: 1;    }
}
.SignIn_Form_Input {
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.379);
    width: 300px;
    padding: 1em;
    border-radius: 18px;
    margin-bottom: 1em;
}
.SignIn .Btn.a{
    cursor: pointer;
    background-color: var(--primaryColor);
    padding: .5em 0em;
    font-size: 18px;
    width:280px;
    text-align: center;
}
.SignIn .Btn.b {
    cursor: pointer;
    background-color: var(--colorB);
    padding: .5em 0em;
    font-size: 18px;
    width:280px;
    text-align: center;
    margin-top: 1em;
}
.SignIn .Btn.c{
    cursor: pointer;
    background-color: var(--colorA);
    font-size: 18px;
    margin-top: 1em;
    
}

