* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}
body {
    line-height: 1.6em;
}
img{
    max-width: 100%;
}
svg {
    cursor: pointer;
}

.Container--row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Container--col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}