@import url(./theme.css);

/* NavBar */
.NavBar {
    position: fixed;
    top: 0;
    right:0;
    padding: 1em 2em 0em 1em ;
    height: 100vh;
    width: 250px;
    box-shadow: 3px 1px 22px 0px rgba(0,0,0,0.58);
    transition: .3s;
    background-color: var(--colorA);
    z-index: 1;
}
.Navbar__OpenNav,
.Navbar__CloseNav {
    font-size: 25px;
    opacity: .4; 
}
.Navbar__OpenNav {
    position: fixed;
    right: 2em;
    top:1em;
}
.Navbar__CloseNav {
    position: absolute;
    right:1em;
}
.Navbar__OpenNav:hover,
.Navbar__CloseNav:hover {
    opacity: 1;

}
.Navbar__Item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.355);
    padding: 1em 0em;
    font-size: 20px;
    cursor: pointer;
}
.Navbar__Item:hover {
    opacity: .6;
}


/* Header */

.Header {
    justify-content: space-between;
    border-bottom: 1px solid var(--secondaryColor);
}


/* Agenda */
.Agenda {
    width: 75%;
    padding: 1em;
}
.Agenda__Quote {
    width: max-content;
    position: relative;}
.Agenda__Quote__Author {
    position: relative;
    left:80%;
    width: 200px;
    display:block;
    font-size: initial;
}



/* Time */
.Time {
    padding: 1em;
    font-size: 20px;
    align-items: start;
    border-left: 1px solid var(--secondaryColor);
    width: 25%;
}


/* Tasks */
.Main {
    width: 100vw;
}
.Main__Tasks {
    height: 55vh;
    width: 100%;
    padding: 1em;
    position: relative;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1em 1em;
    background: var(--colorA);
    box-shadow: inset -4px 1px 12px 8px rgba(0, 0, 0, 0.67);
    overflow-y: scroll;
    transition: 1s;
}
.Task {
    min-width: 300px;
    max-width: 600px;
    min-height: 90px;
    justify-content: flex-start;
    box-Shadow: 0px 0px 40px 0px var(--primaryColor);

}
.TaskCategory {
    padding: .5em;
    width: 100%;
    height: 40px;
}
.TaskCategory span {
    font-style: italic;
    text-decoration: underline;
}
.Task--group > .TaskCategory {
    background: var(--colorB);
}
.Task--sprint > .TaskCategory {
    background: var(--primaryColor);
}
.Task--reg > .TaskCategory {
    background: var(--colorC);
}
.TaskDescription {
    padding: .5em;
    width: 100%;
    border-left:2px solid black;
    border-right:2px solid black;


}
.TaskInfo {
    width:100%;
    justify-content: space-between;
    flex-direction: column-reverse;
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    /* padding: .5em; */
}
.TaskControls {
    align-self: flex-start;
    gap:20px;
    padding: .5em;
    /* border-top: 2px solid black;
    border-right: 2px solid  black; */
    /* border-radius: 5px; */
    opacity: .5;
}
.TaskTime {
    width: 100%;
    font-size: 13px;
    text-align: end;
    /* background: var(--colorB); */
    font-weight: bold;
    font-style: italic;
    padding: .5em;
    padding-left: 0;
}
.TaskControls:hover {
    opacity:1;
}
.Main__Tasks__AddContainer {
    position: absolute;
    gap:50px;
    text-align: center;
    font-size: 18px;
}
.Main__Tasks__AddOption {
    opacity: .5;
    cursor: pointer;
}
.Main__Tasks__AddOption:hover {
    opacity: 1;
}


/* Options */
.Main__Options {
    height: 55vh;
    width: 600px;
    border-left: 1px solid rgba(0, 0, 0, 0.212);
    padding: 1em;
    gap: 2em;
    background-color: var(--colorA);
    transition: 1s;
    position: relative;
    margin-right: -615px;
}
.Main__Options__Option {
    align-items: flex-start;
    gap:.5em;
}
.Options__Option__Title {
    text-decoration: underline;
    cursor: pointer;
}
.Options__Option__Title:hover {
    opacity: .6;
    transform: scale(1.01);
}
.Options__Option__Description{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main__Options__Close--toggle {
    position: absolute;
    top:1em;
    right:1em;
    font-size: 25px;
    opacity: .6;
}
.Main__Options__Close--toggle:hover {
    opacity: 1;
}


/* Sprints */
.Sprints{
    justify-content: space-evenly;
    padding: 1em;
    align-items: flex-start;
    height: max-content;
    /* border-top: 1px solid var(--secondaryColor); */
}
.Sprints__Sprint{
    line-height: 1.3em;
}
.Sprints__Sprint__Title{
    text-align: center;
    font-size: 18px;
    max-width: 350px;
    margin-bottom: 1em;
}
.Sprints__Add {
    opacity: .5;
    cursor: pointer;
    height: 20vh;
    text-align: center;
}
.Sprints__Add:hover {
    opacity: 1;
}

/* Progress Circle */
.ProgressCircle {
    cursor: pointer;
}
.ProgressCircle:hover .ProgressCircle__Value {
    box-Shadow: 0px 0px 100px 0px var(--secondaryColor)!important;
}
.ProgressCircle__Value {
    transition: .5s;
}



/* PopUp */

.PopUp {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 3px solid var(--secondaryColor);
    background: var(--primaryColor);
    width: max-content;
    height: max-content;
    align-items: flex-start;
    gap:2em;
    padding: 3em;
    top:5em;
    z-index: 1;
    box-Shadow: 0px 0px 40px 0px #a2a8d3;
    transition: .3s;
    /* opacity: 1 !important; */
}
.PopUp__TextArea {
    background: transparent;
    width: 450px;
    height: 200px;
    padding: .5em;
}
.PopUp__Buttons{
    gap:15px;
}
.PopUp__Button {
    font-family: inherit;
    text-align: center;
    border: none;
    outline: none;
    color: var(--primaryColor);
    background: var(--secondaryColor);
    padding: .5em 0em;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.PopUp__DueDate {
    gap:1em;
    border: 2px solid var(--secondaryColor);
    padding: .5em;
}
.PopUp__DateTitle {
    font-size: 22px;
}
.PopUp__DateInput {
    border: none;
    outline: none;
    border: 1px solid var(--secondaryColor);
    color: var(--primaryColor);
    padding: .2em;
}
.PopUp--DeleteTask__Description,
.PopUp--CompletedTask__Description {
    background: var(--colorC);
    width: 400px;
    padding: .5em;
    border-radius: 5px;
    text-align: start;
}
.PopUp .AddTaskContainer--group{
    gap: 1em;
    align-items: flex-start;
}

.AddTaskContainer--group__Add {
    gap: 1em;
}
.TaskList--group__Title {
    background-color: transparent;
    outline: transparent;
    padding: 10px 5px;
    /* border: 1px solid var(--secondaryColor); */
    width: 90%;
    /* margin-top: 40px; */
    font-size: 20px;
    font-style: italic;
    align-self: flex-start;
}
.TaskList--group {
    align-self: stretch;
    gap:1em;
}
.TaskList--group__List {
    height: 300px;
    list-style-type:circle;
    width: 400px;
    border: 2px solid var(--secondaryColor);
    text-align: start;
    padding: 2em;
    position: relative;
    margin-top: 40px;
    overflow-y: scroll;
}
.TaskList--group__List__Item {
    position: relative;
    justify-content: flex-start;
    background-color: var(--colorC);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    /* gap:10px; */
}
.TaskList--group__List__Item .PopUp__Button {
    display: inline;
    padding: 1px 4px;
    font-size: 13px;
    border-radius: 10px;
    margin-left: 5px;
    /* font-weight: initial; */
}
.TaskList--group__List__Message {
    position: absolute;
    left:0;
    top:0;
    /* top:40%; */
    margin: auto;
    font-size: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: .6;
    z-index: 1;
    background-color: black;
    pointer-events: none;
}
.CreateTitle {
    padding: 5em;
    gap:2em
}
.CreateTitle__Input {
    padding:.5em;
    width: 300px;
    font-size: 18px;
    font-style: italic;
    background-color: transparent;
}

/* UTIL */
.BLUR_BG {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.831);
    /* backdrop-filter: blur(3px); */
    z-index: 1;
    opacity: 0;
    transition: .5s;
    pointer-events:none;
}





